* {
  margin: 0;
  padding: 0;
}

img {
  outline: none;
}

a {
  text-decoration: none;
  /* display: block; */
}

body {
  font-family: "맑은 고딕", MalgunGothic, Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  min-width: 1900px;
}
.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #f00;
}

/* common */
.oripos {
  opacity: 0;
  transition: 0.4s;
}

.to-right {
  transform: translateX(-150px);
}

.to-left {
  transform: translateX(150px);
}

.btn {
  width: 120px;
  padding: 13px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
}

.btn--brown {
  background-color: brown;
}
.btn--brown:hover {
  border: 1px solid #333;
  background-color: transparent;
  color: #333;
}
.btn--orange {
  background-color: coral;
}
.btn--orange:hover {
  border: 1px solid #d13e19;
  background: #d13e19;
  color: #fff;
}
.show .to-right {
  opacity: 1;
  transform: translateX(0);
}

.show .to-left {
  opacity: 1;
  transform: translateX(0);
}

.show .delay-0 {
  transition-delay: 0;
}

.show .delay-1 {
  transition-delay: 0.3s;
}

.show .delay-2 {
  transition-delay: 0.6s;
}

.show .delay-3 {
  transition-delay: 0.9s;
}

/* header  */
header {
  border-bottom: 1px solid #999;
}

header .inner {
  position: relative;
  height: 120px;
}

/************************** visual  ************************/
section.visual {
  border-bottom: 1px solid #999;
  background: url(../images/visual_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section.visual .inner {
  height: 646px;
}

.fade-in {
  opacity: 0;
}
section.visual .inner .img-group {
  position: absolute;
  top: 30px;
  left: 30px;
}
section.visual .inner .img-group .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
section.visual .inner .cup1 {
  position: absolute;
  top: 50px;
  right: 50px;
}
section.visual .inner .cup1.txt {
  position: absolute;
  top: 30px;
  right: 280px;
}

section.visual .inner .cup2 {
  position: absolute;
  top: 130px;
  right: 250px;
}
section.visual .inner .cup2.txt {
  position: absolute;
  top: 260px;
  right: 500px;
}
section.visual .inner .spoon {
  position: absolute;
  bottom: 0;
  left: 300px;
}

/************************** notice  ************************/

/*  공지사항 구조     
.notice 
      .notice-line 
            .bg-left
            .bg-right
            .inner
                .inner-left 
                .inner-right 
      .promotion 
*/

section.notice {
  position: relative;
}

/* 공지사항 라인 */
section.notice .notice-line {
  position: relative;
}
section.notice .notice-line .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
section.notice .notice-line .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
}
section.notice .notice-line .inner {
  height: 62px;
  z-index: 1;
  display: flex;
}
section.notice .notice-line .inner .inner-left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

section.notice .notice-line .inner .inner-left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
section.notice .notice-line .inner .inner-left .swiper {
  height: 62px;
  flex-grow: 1;
}

section.notice .notice-line .inner .swiper .swiper-wrapper {
}
section.notice .notice-line .inner .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

section.notice .notice-line .inner .swiper-slide a {
  color: #fff;
}

.notice .notice-line .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

section.notice .notice-line .inner .inner-right {
  width: 40%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
section.notice .notice-line .inner .inner-right h2 {
  font-size: 17px;
  font-weight: 700;
}
section.notice .notice-line .inner .inner-right .upload-bt {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.notice .notice-line .inner .inner-right .upload-bt .material-icons {
  color: #333;
  font-size: 30px;
}

/* 프로모션 창이 열린다.  */
section.notice .promotion {
  position: relative;
}

/************************** promotion  ************************/
.promotion {
  border-bottom: 2px solid #999;
}

.promotion .inner {
  height: 690px;
}

/************************** youtube  ************************/
section.youtube {
  border-bottom: 1px solid #999;
}

section.youtube .inner {
  height: 600px;
}

/********************* 시즌상품   **********************/
section.season-product {
  margin-bottom: 1px solid #999;
  background: url(../images/season_product_bg.jpg);
  background-repeat: repeat;
}

section.season-product .inner {
  position: relative;
  height: 400px;
}

section.season-product .inner .txt-group {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 500px;
}

section.season-product .inner .txt-group .title {
  margin-bottom: 20px;
}

section.season-product .inner .txt-group .desc {
  margin-bottom: 15px;
}

/**************************** reserve coffee  **************************/

/* 아래단 높이 설정  */
section.reserve-coffee,
.find-store,
.favorite,
.reserve-store {
  border-bottom: 1px solid #999;
}

.reserve-coffee .inner {
  position: relative;
  height: 400px;
}

.reserve-coffee {
  background: url(../images/reserve_bg.jpg);
  background-repeat: repeat;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 124px;
  left: 0px;
}

.reserve-coffee .txt-group {
  position: absolute;
  top: 124px;
  left: 215px;
}

.reserve-coffee .txt-group .desc {
  margin-bottom: 20px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0px;
  right: 0px;
}

/********************* favorite   **********************/

.favorite .inner {
  position: relative;
  height: 700px;
}

.favorite {
  background: url(../images/favorite_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.favorite .txt-group {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap; /* 강제개행효과  */
  justify-content: flex-end;
}
.favorite .txt-group .title {
  margin-bottom: 50px;
}
.favorite .txt-group .desc {
  margin-bottom: 30px;
}
/********************* reserve store   **********************/

.reserve-store {
  position: relative;
  height: 600px;
  background: url(../images/reserve_store_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/********************* find store   **********************/
.find-store {
  background: url(../images/find_store_bg.jpg);
  background-repeat: repeat;
}
.find-store .inner {
  position: relative;
  height: 400px;
}

.find-store .texture1 {
  position: absolute;
  top: 0;
  right: 200px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 100px;
}

.find-store .pic1 {
  position: absolute;
  top: -100px;
  left: 10px;
  border-radius: 50%;
}
.find-store .pic2 {
  position: absolute;
  top: 160px;
  left: 150px;
  border-radius: 50%;
}

.find-store .txt-group {
  position: absolute;
  top: 100px;
  left: 500px;
}

.find-store .txt-group .title {
  margin-bottom: 20px;
}

.find-store .txt-group .desc {
  margin-bottom: 20px;
}

/****************************** awards  ****************************/
.awards {
  background-color: #333;
  border-bottom: 1px solid #eee;
}

.awards .inner {
  position: relative;
}
.awards .swiper {
}
.awards .swiper .swiper-wrapper {
  display: flex;
  padding: 40px;
}
.awards .swiper .swiper-wrapper .swiper-slide {
}

.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  outline: none;
  border: 2px solid #fff;
  font-size: 24px;
  border-radius: 50%;
  color: #fff;
  opacity: 0.3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.swiper-button-prev::after {
  left: -80px;
}
.swiper-button-next::after {
  right: -80px;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  background: rgba(255, 255, 255, 0.6);
}

/* .swiper-button-prev:after {
  font-size: 28px;  border: 2px solid #555
}
 */

/********************* footer   **********************/
footer {
  position: relative;
  background-color: #333;
}
footer .inner {
  height: 450px;
}
