* {
  margin: 0;
  padding: 0;
}

img {
  outline: none;
  display: block;
}

a {
  text-decoration: none;
  /* display: block; */
}

ul,
li {
  list-style: none;
}

body {
  font-family: "맑은 고딕", MalgunGothic, Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  min-width: 1900px;
}
.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid #f00; */
}

/* common */
.oripos {
  opacity: 0;
  transition: 0.4s;
}

.to-right {
  transform: translateX(-150px);
}

.to-left {
  transform: translateX(150px);
}

.btn {
  width: 130px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  border: 2px solid #333;
  cursor: pointer;
  transition: 0.4s;
}

.btn--reverse {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
}

.btn--reverse:hover {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
}

.btn--black {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
}

.btn--black:hover {
  background-color: #333;
  color: #fff;
}

.btn--brown {
  background-color: brown;
  border-color: brown;
  color: #fff;
}
.btn--brown:hover {
  border-color: brown;
  background-color: transparent;
  color: brown;
}
.btn--orange {
  background-color: coral;
}
.btn--orange:hover {
  border: 1px solid #d13e19;
  background: #d13e19;
  color: #fff;
}

.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn--white:hover {
  color: #333;
  background-color: #fff;
}

.show .to-right {
  opacity: 1;
  transform: translateX(0);
}

.show .to-left {
  opacity: 1;
  transform: translateX(0);
}

.show .delay-0 {
  transition-delay: 0;
}

.show .delay-1 {
  transition-delay: 0.3s;
}

.show .delay-2 {
  transition-delay: 0.6s;
}

.show .delay-3 {
  transition-delay: 0.9s;
}

/* header  */
header {
  width: 100%;
  border-bottom: 1px solid #999;
  position: fixed;
  background: #fff;
  z-index: 3;
}

header .inner {
  position: relative;
  height: 120px;
}

header .inner .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 75px;
}
header .inner ul.smenu {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  font-weight: 700;
}

header .inner ul.smenu li {
  margin-right: 20px;
}
header .inner ul.smenu li a {
  color: #333;
  font-size: 14px;
}
header .inner ul.smenu li a:link,
header .inner ul.smenu li a:visited {
  color: #333;
}
header .inner ul.smenu li a:hover,
header .inner ul.smenu li a:active {
  color: #690;
}

header .inner ul.smenu li.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .inner ul.smenu li.search input {
  width: 36px;
  height: inherit;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: width 0.4s;
  background: #fff;
}

header .inner ul.smenu li.search input:focus {
  width: 190px;
}
header .inner ul.smenu li.search .material-icons {
  position: absolute;
  top: 4px;
  bottom: 0;
  right: 5px;
  margin: auto;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* 대메뉴  */

/* 
ul.main-menu
          li.item  (6개 만들기)  
                    COFFEE
                    MENU
                    STORE
                    RESPONSIBILITY
                    MY STARBUCS REWARDS
                    WHAT'S NEW

              .item__name
              .item__contents
                  .contents__menu
                      ul.inner
                          li
                            h4
                            ul
                              li
                  .contents__texture
                      .inner
                          h4
                          p
                          h4
                          p 
                          */
header ul.main-menu {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: flex;
}
header ul.main-menu li.item {
}
header ul.main-menu li.item .item__name {
  padding: 10px 25px 30px 25px;
}

header ul.main-menu li.item:hover .item__name {
  background-color: #333;
  color: #690;
  border-radius: 5px 5px 0 0;
}

header ul.main-menu li.item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header ul.main-menu li.item:hover .item__contents {
  display: block;
}
header ul.main-menu li.item .item__contents .contents__menu {
  background-color: #f00;
  height: 200px;
}
header ul.main-menu li.item .item__contents .contents__texture {
  background-color: orange;
  height: 100px;
}

/************************** visual  ************************/
section.visual {
  padding-top: 120px;
  position: relative;
  border-bottom: 1px solid #999;
  background: url(../images/visual_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section.visual .inner {
  height: 646px;
}

.fade-in {
  opacity: 0;
}
section.visual .inner .img-group {
  position: absolute;
  top: 30px;
  left: 30px;
}
section.visual .inner .img-group .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
section.visual .inner .cup1 {
  position: absolute;
  top: 50px;
  right: 50px;
}
section.visual .inner .cup1.txt {
  position: absolute;
  top: 30px;
  right: 280px;
}

section.visual .inner .cup2 {
  position: absolute;
  top: 130px;
  right: 250px;
}
section.visual .inner .cup2.txt {
  position: absolute;
  top: 260px;
  right: 500px;
}
section.visual .inner .spoon {
  position: absolute;
  bottom: 0;
  left: 300px;
}

/************************** notice  ************************/

/*  공지사항 구조     
.notice 
      .notice-line 
            .bg-left
            .bg-right
            .inner
                .inner-left 
                .inner-right 
      .promotion 
*/

section.notice {
  position: relative;
}

/* 공지사항 라인 */
section.notice .notice-line {
  position: relative;
}
section.notice .notice-line .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
section.notice .notice-line .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
}
section.notice .notice-line .inner {
  height: 62px;
  z-index: 1;
  display: flex;
}
section.notice .notice-line .inner .inner-left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

section.notice .notice-line .inner .inner-left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
section.notice .notice-line .inner .inner-left .swiper {
  height: 62px;
  flex-grow: 1;
}

section.notice .notice-line .inner .swiper .swiper-wrapper {
}
section.notice .notice-line .inner .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

section.notice .notice-line .inner .swiper-slide a {
  color: #fff;
}

.notice .notice-line .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

section.notice .notice-line .inner .inner-right {
  width: 40%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
section.notice .notice-line .inner .inner-right h2 {
  font-size: 17px;
  font-weight: 700;
}
section.notice .notice-line .inner .inner-right .upload-bt {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.notice .notice-line .inner .inner-right .upload-bt .material-icons {
  color: #333;
  font-size: 30px;
}

/* 프로모션 창이 열린다.  */
section.notice .promotion {
  position: relative;
}

/************************** promotion  ************************/
.promotion {
  border-bottom: 2px solid #999;
  height: 690px;
  background-color: #f6f5ef;
  overflow: hidden;
  transition: height 0.4s;
  position: relative;
}

.promotion.hide {
  height: 0;
}

.promotion .swiper {
  /* width: 2477px; */
  width: calc(819px * 3 + 20px);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.promotion .swiper .swiper-wrapper {
}
.promotion .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  opacity: 0.5;
  transition: opacity 1s;
}
.promotion .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper .swiper-wrapper .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.promotion .swiper-pagination {
  position: absolute;
  bottom: 30px;
  left: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 12px;
  background: url(../images/promotion_slide_pager.png);
  margin-right: 6px;
  outline: none;
}

.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background: url(../images/promotion_slide_pager_on.png);
}

.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  background-color: transparent;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  top: 48%;
  border: 3px solid #333;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.promotion .swiper-button-prev {
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

.promotion .swiper-button-next {
  position: absolute;
  right: 50%;
  margin-right: -480px;
}

.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  /* font-size: 20px; */
  display: none;
}
/************************** rewards  ************************/

section.rewards {
  position: relative;
  width: 100%;
}
section.rewards .rewards__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #272727;
}
section.rewards .rewards__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #d5c798;
}

section.rewards .inner {
  height: 241px;
  background-image: url(../images/rewards.jpg);
  background-repeat: no-repeat;
}

section.rewards .inner .btn-group {
  position: absolute;
  top: 80px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  flex-wrap: wrap;
}
section.rewards .inner .btn-group .sign-up {
  margin-right: 10px;
}

section.rewards .inner .btn-group .sing-in {
  width: 110px;
}
section.rewards .inner .btn-group .e-gift {
  margin-top: 10px;
  flex: 1;
}

/************************** youtube  ************************/
section.youtube {
  border-bottom: 1px solid #999;
}

section.youtube .inner {
  height: 600px;
}

/********************* 시즌상품   **********************/
section.season-product {
  margin-bottom: 1px solid #999;
  background: url(../images/season_product_bg.jpg);
  background-repeat: repeat;
}

section.season-product .inner {
  position: relative;
  height: 400px;
}

section.season-product .inner .txt-group {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 500px;
}

section.season-product .inner .txt-group .title {
  margin-bottom: 20px;
}

section.season-product .inner .txt-group .desc {
  margin-bottom: 15px;
}

/**************************** reserve coffee  **************************/

/* 아래단 높이 설정  */
section.reserve-coffee,
.find-store,
.favorite,
.reserve-store {
  border-bottom: 1px solid #999;
}

.reserve-coffee .inner {
  position: relative;
  height: 400px;
}

.reserve-coffee {
  background: url(../images/reserve_bg.jpg);
  background-repeat: repeat;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 124px;
  left: 0px;
}

.reserve-coffee .txt-group {
  position: absolute;
  top: 124px;
  left: 215px;
}

.reserve-coffee .txt-group .desc {
  margin-bottom: 20px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0px;
  right: 0px;
}

/********************* favorite   **********************/

.favorite .inner {
  position: relative;
  height: 700px;
}

.favorite {
  background: url(../images/favorite_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.favorite .txt-group {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap; /* 강제개행효과  */
  justify-content: flex-end;
}
.favorite .txt-group .title {
  margin-bottom: 50px;
}
.favorite .txt-group .desc {
  margin-bottom: 30px;
}
/********************* reserve store   **********************/

.reserve-store {
  position: relative;
  background: url(../images/reserve_store_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: inherit;
  height: inherit;
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}
.reserve-store .medal .front {
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}

/********************* find store   **********************/
.find-store {
  background: url(../images/find_store_bg.jpg);
  background-repeat: repeat;
}
.find-store .inner {
  position: relative;
  height: 400px;
}

.find-store .texture1 {
  position: absolute;
  top: 0;
  right: 200px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 100px;
}

.find-store .pic1 {
  position: absolute;
  top: -100px;
  left: 10px;
  border-radius: 50%;
}
.find-store .pic2 {
  position: absolute;
  top: 160px;
  left: 150px;
  border-radius: 50%;
}

.find-store .txt-group {
  position: absolute;
  top: 100px;
  left: 500px;
}

.find-store .txt-group .title {
  margin-bottom: 20px;
}

.find-store .txt-group .desc {
  margin-bottom: 20px;
}

/****************************** awards  ****************************/
.awards {
  background-color: #333;
  border-bottom: 1px solid #eee;
}

.awards .inner {
  position: relative;
}
.awards .swiper {
}
.awards .swiper .swiper-wrapper {
  display: flex;
  padding: 40px;
}
.awards .swiper .swiper-wrapper .swiper-slide {
}

.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 42px;
  height: 42px;
  margin: auto;
  outline: none;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.awards .swiper-button-prev::after {
  left: -80px;
}
.awards .swiper-button-next::after {
  right: -80px;
}

.awards .swiper-button-prev:hover::after,
.awards .swiper-button-next:hover::after {
  background: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  color: #690;
}

/* .swiper-button-prev:after {
  font-size: 28px;  border: 2px solid #555
}
 */

/********************* footer   **********************/
footer {
  position: relative;
  background-color: #333;
}
footer .inner {
  height: 350px;
}
